@use "../../../../styles/helpers/" as *;



.sectionTitle {
    margin: 0 0 rem(12);
    font-weight: 700;
    font-size: rem(13);
    color: $text-tertiary;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &:not(:first-child) { margin-top: rem(20); }
}

